<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contato</title>

    <link rel="stylesheet" href="../public/css/contato.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
   <body>
    <nav>
      <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid mt-4">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../site/home.html">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="../site/contato.html">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../site/destinos.html">O melhor de Prudente</a>
          </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../site/sobrenós.html">Sobre nós</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
          <div class="entrar me-5">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
              <li class="nav-item active">
                  <a class="nav-link active fw-medium text-white" class="entrar" aria-current="page" href="../site/login.html">Entrar</a>
              </li>
              <i class="bi bi-person-circle mt-1 me-5 fs-4 text-white"></i>
          </ul>
        </div>
       
      </form>
    </div>
  </nav>
  </nav>
    <main>


<section class="mapa">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118266.04190618209!2d-51.48459965750452!3d-22.133073597757722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f45d3ca3d435%3A0x7db8d361d2635f6a!2sPres.%20Prudente%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1692116138662!5m2!1spt-BR!2sbr" width="2000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

 

<section class="entreemcontato text-center">

 

    <h2>ENTRE EM CONTATO </h2>

          <h2> CONOSCO!</h2>

<p>Você tem alguma duvida? Envie-nos um Email ou uma mensagem <br>

e responderemos o mais rápido possivel</p>

 

 

<div class="container text-center">

    <div class="row align-items-center">

      <div class="col">

        <i class="bi bi-geo-alt"></i><br>

        ... ..... ..., .......

      </div>

      <div class="col">

        <i class="bi bi-envelope"></i><br>

        8becklick@gmail.com

      </div>

      <div class="col">

        <i class="bi bi-telephone"></i><br>

        (**)*********

      </div>

    </div>

  </div>

 

 

 

       

 

</section>

 

 

 



<article id="contato">

    <form action="#" method="post">

 

<div class="info">


    <label for="txtnome">Seu Nome</label>
    <input type="text" name="txtnome" id="txtnome">


 
    <label for="txtemail">Seu Email</label>
    <input type="text" name="txtemail" id="txtemail">
  

 
    <label for="txtobj">Objetivo da sua mensagem</label>
    <input type="text" name="txtobj" id="txtobj">



    <label for="txtsuamsg">Sua mensagem</label>
    <input type="text" name="txtsuamsg" id="txtsuamsg">



    <button type="submit" class="btnformcad">Enviar</button>
    </div>

   

    </form>

    </article>
    </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>