<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/css/destinos.css">
  </head>
 
<body>
   <nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid mt-4">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../site/home.html">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="../site/contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../site/destinos.html">O melhor de Prudente</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../site/sobrenós.html">Sobre nós</a>
          </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="entrar me-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
            <li class="nav-item active">
                <a class="nav-link active fw-medium text-white" class="entrar" aria-current="page" href="../site/login.html">Entrar</a>
            </li>
            <i class="bi bi-person-circle mt-1 me-5 fs-4 text-white"></i>
          </ul>
    </div>
    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
  </div>
</nav>
</nav>


 
 
<main>
 
<section class="Destinos">
  <div class="divcards">
 
    <div class="card mb-3 mt-5" style="max-width: 800px;">
 
        <div class="row g-0">
 
            <div class="col-md-4">
 
                <img src="../public/images/img-catedral.jpg" width="260px" height="220px">
 
            </div>
 
            <div class="col-md-8">
 
                <div class="card-body">
 
                    <h5 class="card-title">Catedral de São Sebastião</h5>
 
                    <p class="card-text">Fundada em 1949, a Catedral de São Sebastião de Presidente Prudente
 
                        (interior de São Paulo) é um símbolo da história da cidade e uma referência de fé para
 
                        os moradores da região.</p>
 
                    <button type="button" class="btn btn-outline-secondary"><a href="https://catedralsaosebastiao.com/">SAIBA MAIS</a></button>
 
                </div>
 
            </div>
 
        </div>
 
    </div>
 
    <div class="card mb-3" style="max-width: 800px;">
 
        <div class="row g-0">
 
            <div class="col-md-4">
 
                <img src="../public/images/img-sesc.jpg" width="260px" height="220px" >
 
            </div>
 
            <div class="col-md-8">
 
                <div class="card-body">
 
                    <h5 class="card-title">Sesc Thermas</h5>
 
                    <p class="card-text">o Sesc (Serviço Social do Comércio) é uma entidade privada que tem como
 
                        objetivo proporcionar o bem-estar e a qualidade de vida aos trabalhadores deste setor e
 
                        sua família.</p>
 
                    <button type="button" class="btn btn-outline-secondary"><a href="https://www.sescsp.org.br/unidades/presidente-prudente/">SAIBA MAIS</a></button>
 
                </div>
 
            </div>
 
        </div>
 
    </div>
 
    <div class="card mb-3" style="max-width: 800px;">
 
        <div class="row g-0">
 
            <div class="col-md-4">
 
                <img src="../public/images/img-museu.jpg" width="260px" height="220px">
 
            </div>
 
            <div class="col-md-8">
 
                <div class="card-body">
 
                    <h5 class="card-title">Museu e Arquivo Histórico</h5>
 
                    <p class="card-text">O museu está instalado no antigo Matadouro Municipal, desde 1973. A
 
                        área de pouco mais de 5,1 mil metros quadrados, foi totalmente reformado e passou a ser
 
                        considerado uma das mais belas construções da cidade, com seu estilo barroco.</p>
 
                        <button type="button" class="btn btn-outline-secondary"><a href="https://www.presidenteprudente.sp.gov.br/site/noticia/45063">SAIBA MAIS</a></button>
 
                </div>
 
            </div>
 
        </div>
 
    </div>
 
    <div class="card mb-3" style="max-width: 800px;">
 
        <div class="row g-0">
 
            <div class="col-md-4">
 
                <img src="../public/images/img-matarazzo.jpg" width="260px" height="220px">
 
            </div>
 
            <div class="col-md-8">
 
                <div class="card-body">
 
                    <h5 class="card-title">Centro Cultural Matarazzo</h5>
 
                    <p class="card-text">O Centro Histórico Cultural Matarazzo abriga um teatro, auditório,
 
                        cinema, galerias de artes e sala multiuso. É um espaço para visitar e apreciar as artes
 
                        expostas, estudar, participar de atividades e realizar eventos.
 
                    </p>
 
                    <button type="button" class="btn btn-outline-secondary"><a href="https://culturapp.com.br/centro-cultural-matarazzo/">SAIBA MAIS</a></button>
 
                </div>
 
            </div>
 
        </div>
 
    </div>

    <div class="card mb-3" style="max-width: 800px;">
 
      <div class="row g-0">

          <div class="col-md-4">

              <img src="../public/images/img-parquedopovo.jpg" width="260px" height="220px" >

          </div>

          <div class="col-md-8">

              <div class="card-body">

                  <h5 class="card-title">Parque do Povo</h5>

                  <p class="card-text">Vir a Presidente Prudente e não curtir o Parque do Povo, quer dizer que não veio.
                    Excelente para caminhar, correr, encontrar os amigos, tomar um suco ou comer um pastel, não deixe de conhecer.</p>

                  <button type="button" class="btn btn-outline-secondary"><a href="https://turismodagente.com.br/pontos/ecoturismo-e-natureza/parque-do-povo-presidente-prudente/">SAIBA MAIS</a></button>

              </div>

          </div>

      </div>

  </div>

  <div class="card mb-3" style="max-width: 800px;">
 
    <div class="row g-0">

        <div class="col-md-4">

            <img src="../public/images/img-prudenshopping.jpg" width="260px" height="220px" >

        </div>

        <div class="col-md-8">

            <div class="card-body">

                <h5 class="card-title">PrudenShopping</h5>

                <p class="card-text">Shopping contemporâneo com lojas, supermercado, grande praça de alimentação e cinema.</p>

                <button type="button" class="btn btn-outline-secondary"><a href="https://www.prudenshopping.com.br/">SAIBA MAIS</a></button>

            </div>

        </div>

    </div>

</div>
 
</div>
</section>
 
</main>
 
 
</body>
 
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>