<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Pway</title>

</head>
<body>
  <nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary opacity-5 ">
  <div class="container-fluid mt-4">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../site/home.html">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="../site/contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../site/destinos.html">O melhor de Prudente</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../site/sobrenós.html">Sobre nós</a>
          </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="entrar me-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
            <li class="nav-item active">
                <a class="nav-link active fw-medium text-white" class="entrar" aria-current="page" href="../site/login.html">Entrar</a>
            </li>
            <i class="bi bi-person-circle mt-1 me-5 fs-4 text-white"></i>
          </ul>
      </div>
      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
  </div>
</form>
</nav>
</nav>
      <main>
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title">Seja bem-vindo ao</h1> <h2 class="card-title">Pway!</h2>
          <p class="card-text mt-5">Um jogo de aventura e RPG para desbravar a cidade de Presidente Prudente de forma educativa, divertida e interativa. </p>
          <button type="sumbit" class="btn mt-5 text-white"><a href="../site/mapa.html">JOGUE AGORA</a></button>
          </div>
        </div>
        </div>
      </div>
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>