<!DOCTYPE html>

 

<html lang="pt-br">

 

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre nós</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="../public/css/sobrenós.css">

   

</head>

 

<body>

 

   
    <nav>
        <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid mt-4">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../site/home.html">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" href="../site/contato.html">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../site/destinos.html">O melhor de Prudente</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../site/sobrenós.html">Sobre nós</a>
              </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="entrar me-5">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                <li class="nav-item active">
                    <a class="nav-link active fw-medium text-white" class="entrar" aria-current="page" href="../site/login.html">Entrar</a>
                </li>
                <i class="bi bi-person-circle mt-1 me-5 fs-4 text-white"></i>
              </ul>
        </div>
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
      </div>
    </nav>
    </nav>

       

    <div class="container team-section text-center">

        <div class="row">

            <div class="col-md-12">

                <div class="team-title mt-5">Conheça a equipe</div>

                <div class="team-subtitle">Veja quem está por trás da 8B Click!</div>

                <div class="team-cards">

                   

                    <div class="team-card">

                        <img src="../public/images/foto-joaomarcos.png" alt="Membro da equipe">

                        <h3>João Marcos Ribeiro</h3>

                        <p>Programador</p>
                        </div>


 

 

                    <div class="team-card">

                        <img src="../public/images/foto-ludmila.png" alt="Membro da equipe">

                        <h3>Ludmila Costa</h3>

                        <p>Programadora</p>
                        </div>


                           

                    <div class="team-card">

                        <img src="../public/images/foto-amanda.png" alt="Membro da equipe">

                        <h3>Amanda Ferreira</h3>

                        <p>Programadora</p>


                    </div>

                    <div class="team-card">

                        <img src="../public/images/foto-yago.png" alt="Membro da equipe">

                        <h3>Yago Berçocano</h3>

                        <p>Programador</p>


                    </div>

                    <div class="team-card">

                        <img src="../public/images/foto-kaua.png" alt="Membro da equipe">

                        <h3>Kauã Henrique Donzelli</h3>

                        <p>Programador</p>


                    </div>

                    <div class="team-card">

                        <img src="../public/images/foto-arthur.png" alt="Membro da equipe">

                        <h3>Arthur Mauri</h3>

                        <p>Programador</p>

                        

                    </div>

                    <div class="team-card">

                        <img src="../public/images/foto-julia.png" alt="Membro da equipe">

                        <h3>Júlia de Oliveira</h3>

                        <p>Programadora</p>

                    </div>

                    <div class="team-card">

                        <img src="../public/images/foto-giovana.png" alt="Membro da equipe">

                        <h3>Giovana Oliveira</h3>

                        <p>Programadora</p>


                    </div>

 

                </div>

            </div>

        </div>

    </div>

 

 

 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

 

</html>