.navbar{
    border: 1px solid black;
 }
 .nav-item{
     margin: 9px;
 }

 .nav-link{
    font-size: 20px;
}

.entrar{
    background-color:#963edd;
    width: 140px;
    border-radius: 10px 10px 10px 10px;
}


.bi-person{
    font-size: 40px;
}
 

.logo-container {

    position: relative;

}

 

.logo {

    width: 100%;

    height: 300px;

 

}

 

.logo-text {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 40px;

    font-weight: bold;

}

 

.small-nav {

    display: flex;

    align-items: center;

}

 

.small-nav-item {

    margin-right: 15px;

    color: rgb(0, 0, 0);

}

 

.small-nav-icon {

    margin-right: 5px;

 

}

 

.team-title {

    font-size: 32px;

    font-weight: bold;

}

 

.team-subtitle {

    font-size: 64px;

    margin-top: 20px;

}

 

.team-cards {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    margin-top: 30px;

}

 

.team-card {

    width: 250px;

    margin: 10px;

    padding: 20px;

    text-align: center;

    border: 1px solid #ccc;

    background-color: #f9f9f9;

}

 

.team-card img {

    max-width: 150px;

    height: 100px;

    border-radius: 20%;

    margin-bottom: 10px;

}

 

.team-card h3 {

    margin: 5px 0;

    font-size: 24px;

    font-weight: bold;

}

 

.team-card p {

    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: purple;

}

 

.social-icons {

    display: flex;

    justify-content: center;

    margin-top: 10px;

}

 

.social-icon {

    margin: 0 5px;

    font-size: 20px;

}
.nav1{
    display: flex;
    list-style: none;
    background-color: rgb(91, 21, 21);
    height: 40px;
    flex-direction: row-reverse;
    color: rgb(227, 228, 231);
}

.nav{
    display: flex;
    position: fixed;
    right: 0px;
    left: 100px;
    top: 30px;
    width: 80%;
    height: 50px;
    background-color: rgb(227, 228, 231);
    padding-right: 10px;
    border-radius: 7px 7px 40px 40px;

}
nav ul{
    margin: 0px;
}

.nav-item li{
    position: fixed;
    right: 0px;
}

.nav-item a{
    margin-left: 20px;
}